<!DOCTYPE html>

<html lang="en" class="no-js" xmlns:th="https://www.thymeleaf.org/">

<head>
  <meta charset="utf-8">
  <title>Receive Snap Files!</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" th:href="@{/css/common.css}" />
  <link rel="stylesheet" th:href="@{/css/receive.css}" />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,400" />

</head>

<body>

<div class="container" role="main">
  <nav role="navigation">
    <a href="/" >Send</a>
    <a href="/manage" >Manage</a>
    <a href="" class="is-selected">Receive</a>
  </nav>

    <label>
      Code
      <input id="code_input" placeholder="000000" type="number">
    </label>
    <label>
      Your name (optional)
      <input id="name_input" type="text">
    </label>
    <button type="submit" class="box__button" onclick="downloadFile()">Request file</button>
  <p id="request_successful" style="display: none;">Request sent!</p>
  <p id="request_failed" style="display: none;">This code doesn't exist!</p>

</div>
<script th:src="@{/js/receive.js}"></script>

</body>

</html>